.eoy_intro {
    margin-bottom: 3em;
}

.eoy_intro__title {
    color: var(--brand-secondary);
    font-size: 5.6rem;
    font-weight: 600;
}

.eoy_intro__lead-text {
    font-size: 2rem;
    margin-bottom: 2em;
}

.eoy_intro__jump-nav {
    padding: var(--padding-x-small);
    margin-bottom: var(--margin-medium);
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
}

.eoy_intro__jump-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .eoy_intro__jump-nav ul {
        justify-content: flex-start;
    }
}

.purple {
    color: var(--brand-secondary);
}

.blue {
    color: var(--brand-primary);
}

.teal {
    color: var(--brand-tertiary);
}

.magenta {
    color: var(--brand-quaternary);
}

.eoy_section__header__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.header-paisley {
    background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_paisley--mobile.jpg");
}

@media only screen and (min-width: 768px) {
    .header-paisley {
        background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_paisley--tablet.jpg");
    }
}

@media only screen and (min-width: 1024px) {
    .header-paisley {
        background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_paisley--desktop.jpg");
    }
}

.header-lochwinnoch {
    background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_lochwinnoch--mobile.jpg");
}

@media only screen and (min-width: 768px) {
    .header-lochwinnoch {
        background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_lochwinnoch--tablet.jpg");
    }
}

@media only screen and (min-width: 1024px) {
    .header-lochwinnoch {
        background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_lochwinnoch--desktop.jpg");
    }
}

.header-erskine {
    background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_erskine--mobile.jpg");
}

@media only screen and (min-width: 768px) {
    .header-erskine {
        background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_erskine--tablet.jpg");
    }
}

@media only screen and (min-width: 1024px) {
    .header-erskine {
        background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_erskine--desktop.jpg");
    }
}

.header-renfrew {
    background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_renfrew--mobile.jpg");
}

@media only screen and (min-width: 768px) {
    .header-renfrew {
        background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_renfrew--tablet.jpg");
    }
}

@media only screen and (min-width: 1024px) {
    .header-renfrew {
        background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_renfrew--desktop.jpg");
    }
}

.header-johnstone {
    background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_johnstone--mobile.jpg");
}

@media only screen and (min-width: 768px) {
    .header-johnstone {
        background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_johnstone--tablet.jpg");
    }
}

@media only screen and (min-width: 1024px) {
    .header-johnstone {
        background-image: url("https://fs-filestore-eu.s3-eu-west-1.amazonaws.com/renfrewshire/images/eoy_header-images/eoy_section-header_johnstone--desktop.jpg");
    }
}

.eoy_section__header__title {
    font-size: 4.2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .eoy_section__header__title {
        text-align: left;
    }
}

.eoy_section__header__sub-title {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1em;
}

.eoy_section__content {
    display: grid;
    justify-items: center;
    gap: 2em;
    padding: 2em 1em;
    grid-template-rows: auto;
}

.one-column,
.two-column,
.three-column {
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
    .eoy_section__content {
        padding: 2em;
    }

    .three-column {
        grid-template-columns: repeat(3, 1fr);

    }

    .two-column {
        grid-template-columns: repeat(2, 1fr);
    }
}

.eoy_section__content h1,
.eoy_section__content h2,
.eoy_section__content h3,
.eoy_section__content h4 {
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: 600;
}

 h2 > span,
 h3 > span {
    font-weight: 300;
}

.eoy_section__content iframe.visme {
    width: 100% !important;
    height: auto;
    overflow: hidden;
}

.content-link {
    display: block;
    text-align: center;
    color: var(--black);
    text-decoration: underline;
}

.content-link:hover {
    color: var(--brand-quaternary);
}

.content-link:focus {
    outline: 1px solid var(--brand-quaternary);
    outline-offset: 3px;
    color: var(--brand-quaternary);
}

.content-link i.fa {
    margin-left: 1em;
}


.eoy_section__content__registered p {
    font-size: 2.1rem;
    line-height: 1.6;
    margin-bottom: 1em;
}

.eoy_section__content__registered p:last-of-type {
    margin-bottom: 0;
}

.eoy_section__content__registered p span {
    background-color: #fff;
    font-weight: 700;
    padding: 0.5rem;
    color: black;
    mix-blend-mode: screen;
}

.eoy_section__content__payments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eoy_section__content__payments p {
    width: 90%;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 3px 6px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
}

.eoy_section__content__devices {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.eoy_section__content__devices img {
    width: 100%;
    height: auto;
    margin: 2em 0;
}

@media only screen and (min-width: 768px) {
    .eoy_section__content__devices img {
        width: auto;
        height: 360px;
        margin: auto;
    }
}

.eoy_section__content__general {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.eoy_section__content__general ul {
    margin: 0;
    padding: 0;
}

.eoy_section__content__general ul li {
    list-style: none;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.eoy_section__content__general ul li > span {
    background-color: #fff;
    font-size: 5.2rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    color: black;
    mix-blend-mode: screen;
}

@media only screen and (min-width: 768px) {
    .eoy_section__content__general ul li > span {
        font-size: 5.8rem;
    }
}

.eoy_section__content__bins h3,
.eoy_section__content__uplifts h3 {
    font-size: 4.6rem;
    margin-bottom: 1em;
}

.eoy_section__content__bins p,
.eoy_section__content__uplifts p {
    font-size: 2.1rem;
}

@media only screen and (min-width: 768px) {
    .eoy_section__content__bins p,
    .eoy_section__content__uplifts p {
        font-size: 2.8rem;
    }
}

.eoy_section__content__bins p strong,
.eoy_section__content__uplifts p strong {
    background-color: #fff;
    padding: 0.5rem;
    color: black;
    mix-blend-mode: screen;
}

.eoy_section__content__litter ul {
    margin: 0;
    padding: 0;
}

.eoy_section__content__litter ul li {
    list-style: none;
    font-size: 2.6rem;
}

@media only screen and (min-width: 768px) {
    .eoy_section__content__litter ul li {
        font-size: 3.4rem;
    }
}

.eoy_section__content__litter ul li > span {
    background-color: #fff;
    font-size: 4.8rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    color: black;
    mix-blend-mode: screen;
}

@media only screen and (min-width: 768px) {
    .eoy_section__content__litter ul li > span {
        font-size: 5.8rem;
    }
}

.eoy_section__content__litter p {
    font-size: 2.8rem;
    margin: 0;
}

.eoy_section__content__grants {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eoy_section__content__grants h3 {
    font-size: 4.2rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 3px 6px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
}

.eoy_section__content__detail {
    text-align: center;
}

.eoy_section__content__grants__chart img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .eoy_section__content__grants__chart img {
        width: auto;
        height: 300px;
        margin: 0;
    }
}

@media only screen and (min-width: 768px) {
    .eoy_section__content__detail {
        grid-column: span 2;
    }
}

.eoy_section__content__detail p {
    font-size: 2.6rem;
    margin-bottom: 0;
    text-align: center;
}

@media only sceen and (min-width: 768px) {
    .eoy_section__content__detail p {
        font-size: 2.8rem;
    }
}

.eoy_section__content__grants__total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eoy_section__content__grants__total p {
    width: 80%;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 3px 6px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .eoy_section__content__delta img {
        grid-column: span 3;
    }
}

.eoy_section__content__education {
    display: flex;
    flex-direction: column;
}

.eoy_section__content__education span {
    background-color: #fff;
    font-size: 5.2rem;
    font-weight: 700;
    padding: 0rem 1rem;
    margin-bottom: 0.5em;
    color: black;
    mix-blend-mode: screen;
    text-align: center;
}

.eoy_section__content__education p {
    width: 80%;
    font-size: 2.1rem;
    font-weight: 700;
    text-shadow: 3px 6px 6px rgb(0 0 0 / 40%);
    margin-bottom: 0;
}

.eoy_section__content__education--factOne,
.eoy_section__content__education--factThree,
.eoy_section__content__education--factFive {
    align-items: center;
    text-align: center;
}

.eoy_section__content__education--factTwo,
.eoy_section__content__education--factFour,
.eoy_section__content__education--factSix {
    align-items: center;
    text-align: center;
}

.eoy_section__content__licensing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eoy_section__content__licensing p {
    font-size: 1.8rem;
}

.eoy_section__content__licensing p:last-of-type:not(.eoy_section__content__licensing__stat p) {
    margin-bottom: 2em;
}

.eoy_section__content__licensing p span {
    background-color: #fff;
    font-size: 2.1rem;
    font-weight: 700;
    padding: 0rem 1rem;
    margin-bottom: 0.5em;
    color: black;
    mix-blend-mode: screen;
}

.eoy_section__content__licensing__stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eoy_section__content__licensing__stat p {
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 3px 6px 6px rgb(0 0 0 / 40%);
    margin-bottom: 0;
}

.quotes-carousel {
    width: 100%;
    padding: 2em 0;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .quotes-carousel {
        width: 90%;
        padding: 4em 0;
    }
}

.quotes-carousel__quote p {
    width: 85%;
    margin: 0 auto;
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .quotes-carousel__quote p {
        width: 60%;
        font-size: 3rem;
    }
}

.quotes-carousel__quote p:before {
    content: '\f10d';
    font-family: 'FontAwesome';
    color: var(--brand-quaternary);
    display: inline-block;
    margin-right: 0.5em;
    font-size: 2.4rem;
}

@media only screen and (min-width: 768px) {
    .quotes-carousel__quote p:before {
        margin-right: 1em;
    }
}

.quotes-carousel__quote p:after {
    content: '\f10e';
    font-family: 'FontAwesome';
    color: var(--brand-quaternary);
    display: inline-block;
    margin-left: 0.5em;
    font-size: 2.4rem;
}

@media only screen and (min-width: 768px) {
    .quotes-carousel__quote p:after {
        margin-right: 1em;
    }
}

.quotes-carousel__slide__prev,
.quotes-carousel__slide__next {
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 2rem;
    cursor: pointer;
    transform: translate(0,-50%);
    background: transparent;
    border: none;
    color: var(--black);
}

.quotes-carousel__slide__prev {
    left: 0;
}

.quotes-carousel__slide__next {
    right: 0;
}

.quotes-carousel__slide__prev:hover,
.quotes-carousel__slide__next:hover {
    color: var(--brand-quaternary);
}

.quotes-carousel__slide__prev:focus,
.quotes-carousel__slide__next:focus {
    color: var(--brand-quaternary);
    outline: 1px solid var(--brand-quaternary);
    outline-offset: 3px;
}

.eoy_section__cta {
    display: grid;
    column-gap: 2em;
    row-gap: 2em;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: #e2007a;
    color: #fff;
    text-align: center;
    padding: 2em 1em;
}

@media only screen and (min-width: 768px) {
    .eoy_section__cta {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        padding: 2em 2em;
    }
}

.eoy_section__cta__title {
    align-self: center;
}

.eoy_section__cta__title {
    font-size: 4.6rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-top: 0;
}

.eoy_section__content__signUp,
.eoy_section__content__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eoy_section__cta h3 {
    color: #fff;
    margin-bottom: 1em;
}

.eoy_section__cta p {
    margin-bottom: 1em;
}

.eoy_section__cta__link {
    display: inline-block;
    min-width: 150px;
    background-color: #fff;
    color: #e2007a;
    border: 3px solid transparent;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0.5em 2em;
    margin-top: auto;
}

.eoy_section__cta__link:hover {
    background-color: #e2007a;
    border-color: #fff;
    color: #fff;
    text-decoration: underline;
}

.eoy_section__cta__link:focus {
    background-color: #e2007a;
    color: #fff;
    border-color: #fff;
    border-style: dashed;
    text-decoration: underline;
    outline: none;
}

.eoy_section__cta p a {
    color: #fff;
    text-decoration: underline;
}

.eoy_section__cta p a:hover {
    color: #3b2f86;
    text-decoration: underline;
}

.eoy_section__cta p a:focus {
    color: #3b2f86;
    text-decoration: underline;
    padding: 0.5em;
    outline: 1px dashed #3b2f86;
}

.eoy_section__covid-reminder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border: 1em solid #e2007a;
}

.eoy_section__covid-reminder p {
    font-size: 1.8rem;
    font-weight: 700;
    color: #1c1b1a;
}

.eoy_section__covid-reminder img {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .eoy_section__covid-reminder img {
        width: auto;
    }
}

.past-yir-pages {
    padding: 2em 0 0;
    text-align: center;
}

.past-yir-pages h3 {
    font-weight: 300;
    width: 80%;
    margin: 0 auto 1em;
}

.past-yir-pages__link {
    display: inline-block;
    background-color: var(--brand-secondary);
    color: var(--white);
    padding: 0.5em 2em;
}

.past-yir-pages__link:hover {
    color: var(--white);
    text-decoration: underline;
}

.past-yir-pages__link:focus {
    color: var(--white);
    text-decoration: underline;
    outline: 1px solid var(--brand-quaternary);
    outline-offset: 3px;
}

/* Utility Components */
.text-blue{
    color: var(--brand-primary);
}

.text-purple{
    color: var(--brand-primary);
}

.text-teal{
    color: var(--brand-primary);
}

.text-magenta{
    color: var(--brand-primary);
}

img.illustration {
    width: 100%;
    height: auto;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    img.illustration {
        width: auto;
        height: 300px;
    }
}

.figure-highlight {
    background-color: #fff;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 0.5em;
    mix-blend-mode: screen;
}

.figure-highlight--small {
    font-size: 2.4rem;
}
.figure-highlight--medium {
    font-size: 3.8rem;
}
.figure-highlight--large {
    font-size: 5.2rem;
}

.figure-highlight--x-large {
    font-size: 6.2rem;
}

@media only screen and (min-width: 768px) {
    .figure-highlight--small {
        font-size: 2.8rem;
    }
    .figure-highlight--medium {
        font-size: 4.6rem;
    }
    .figure-highlight--large {
        font-size: 5.8rem;
    }
}

.footnote {
    font-size: 1.2rem;
}
