.navbar.main {
  background-color: #3b3383;
  margin-bottom: 26px;
}

.nav > li {
  margin-top: 15px;
}

.header-logo {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100px;
  height: auto;
  margin-right: 12px;
  margin-left: 24px;
}

a.navbar-brand {
  margin-top: 15px;
  color: #fff !important;
}

@media (max-width: 600px) {
  .header-logo {
    float: left !important;
  }
  .navbar-inverse .navbar-nav > li > a {
    display: inline;
  }
  .navbar-inverse .navbar-nav > .open > a {
    background-color: transparent !important;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    color: #fff !important;
  }
}
